@mixin text-shadow($x: 2px, $y: 1px, $blur: 1px, $color: rgba(253, 251, 251, 0.4)) {
  text-shadow: $x $y $blur $color;
}

.cardContent {
  margin-bottom: 2%;
}

.delete-btn {
  background-color: white;
  width: 30px;
  height: 28px;
}

.edit-btn {
  background-color: white;
  width: 27px;
  height: 28px;
  padding-bottom: 1px;
}

#completed-title {
  @include text-shadow;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}

#completed {
  text-decoration-line: line-through;
  background-color: cornsilk;
  padding: 5%;
  border-radius: 15px;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 10%;
}

#lists {
  background-color: cornsilk;
  padding: 5%;
  border-radius: 15px;
  margin-bottom: 7%;
}

#lists-title {
  @include text-shadow;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  margin-bottom: 1%;
}